doctype
html
  head
    title #{title} - My Site
  body
    header
      h1 #{testo1}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade
